.vscode
Library
Logs
obj
Packages
ProjectSettings
UserSettings
*.csproj
*.vsconfig
*.sln
Advanced INI Parser
Advanced INI Parser.meta
TextMesh Pro
TextMesh Pro.meta
uLipSync
uLipSync.meta
UniGLTF
UniGLTF.meta
VRM
VRM.meta
VRM10
VRM10.meta
VRMShaders
VRMShaders.meta
.vs/VRM_AI/v16/.suo
.vs/VRM_AI/v17/.suo
.vs/VRM_AI/FileContentIndex/16f4f11c-e0b5-41bf-8b02-aeac54bdb704.vsidx
.vs/VRM_AI/FileContentIndex/1e233c48-b5ed-46f8-b2dd-193dc1677fc9.vsidx
.vs/VRM_AI/FileContentIndex/35c7372a-7025-45ac-ac53-9a8801dc1262.vsidx
.vs/VRM_AI/FileContentIndex/48166e46-09fc-4f29-8e2d-ad233078051e.vsidx
*.vsidx
*.lock
*.bin
.vs/VRM_rec/v17/.suo
Assets/setteing.ini
Assets/setteing.ini
Assets/setteing.ini
Assets/setteing.ini.meta
Assets/setteing.ini
Assets/setteing.ini
Assets/setteing.ini.meta
VideoCaptureLib_Log.txt
Assets/setteing.ini
